* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 90%;
  color: #212121;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a, a:visited {
  color: inherit;
}

.fr {
  float: right;
}

.textbox {
  position: absolute;
  padding: 15px;
  background-color: #F4F4F4;
  border: 1px solid #999;
  z-index: 999;
  opacity: 0.9;
}

.textbox ul li {
  list-style-type: square;
}

#about {
  opacity: 0;
  left: 5%;
  bottom: 5%;
}

#legend {
  font-size: 110%;
  position: absolute;
  padding: 15px;
  left: 5%;
  top: 5%;
  z-index: 999;
}

#info {
  display: none;
  right: 5%;
  top: 5%;
  margin-top: 40px;
}

#graph {
  position: absolute;
  width: 100%;
  height: 100%;
}

#header {
  position: absolute;
  width: 100%;
  padding: 10px 5% 7px 5%;
  background-color: #F4F4F4;
  border-bottom: 1px solid #BBB;
  z-index: 999;
}
