body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 90%;
}

#info {
  position: absolute;
  padding: 15px;
  left: 5%;
  bottom: 5%;
  background-color: #EEE;
  border: 1px solid black;
  z-index: 999;
}

#graph {
  position: absolute;
  width: 100%;
  height: 100%;
}
